<h1 class="page-header">Locked Out</h1>
<div class="jumbotron alert alert-danger">
    <p>Your account has been locked out.</p>
    If you've forgotten your password, click <a asp-action="forgotPassword">here</a> to reset it.
</div>
