<h1 class="page-header">Registration Complete</h1>
<div class="alert alert-info jumbotron">
    <p>We've sent a confirmation message to your registered email.</p>
    To complete your registration, please check the message and follow its instructions.
</div>

