<h1 class="page-header">Reset Password Confirmation</h1>
<div class="jumbotron alert alert-info">
    <p>Your password has been reset.</p>
    Please <a asp-action="Login">click here to login</a>.
</div>